<div class="panel panel-default">
  <div class="panel-heading"><%= @article.title %></div>
  <%= @article.text %>
</div>

<%= render @article.comments %>

<%= render 'comments/form' %>

<%= link_to 'Back to articles', articles_url, class: "btn btn-primary" %>
<%= link_to "Edit this article", edit_article_url(@article), class: "btn btn-primary" %>
